body {
    font-family: Tahoma;
    font-size: 13px;
}

h1 {
    display: inline;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
    align-content: center;
}

nav {
    flex-direction: column;
    margin-left: 1%;
    background-color: #ffbd90;
}

nav a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

nav a:hover {
    background-color: #F89C57;
}

nav a:link {
    color: #5DC2D9;
}

nav a:visited {
    color: cadetblue;
}

#tabella {
    display: flex;
    justify-content: flex-start;
    margin-top: 5%; 
}

#tabella tr:nth-child(even) {
    background-color: #F89C57;
}

#tabella tr:nth-child(odd) {
    background-color: #F0F0F0;
}

#tabella tbody > tr:hover {
    background-color: aquamarine;
}
.form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border: 3px solid #F89C57;
    text-align: center;
}
label{
    font-weight:bold;
}
.bottone {
    border-radius: 4%;
    background-color: #F89C57;
    border: 2px solid #F89C57;
}
.bottone:hover {
    border-radius: 4%;
    background-color: white;
    border: 2px solid orange;
}
